name: Trigger Vercel Deploy Hook

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  trigger-vercel-deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Trigger Vercel deploy hook
        run: |
          curl --fail-with-body --request POST "https://api.vercel.com/v1/integrations/deploy/prj_vVevHC9AKzrNh6HK6hyv5TJWvJvv/xIT1HKPCnN"
